.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 19px;
  transition: opacity 0.4s ease;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__link:last-child {
    margin-bottom: 0;
  }
}