.places__card_website {
  margin: 0 0 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media screen and (max-width: 768px) {
  .places__card_website {
    line-height: 12px;
  }
}

@media screen and (max-width: 320px) {
  .places__card_website {
    margin: 0 16px 12px;
  }
}