.places__card_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity 0.3s ease;
}

.places__card_link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .places__card_link {
    margin: 0 16px 32px;
  }
}